In [1]:
from glob import glob
from os.path import basename, splitext
import pandas as pd

"""
A. Read the stock datasets
B. Calculate 7 days average price of AAPL, GOOGL, META, AMZN
"""
def n_days_average_price(days: int, csv_file: str) -> pd.core.frame.DataFrame:
    # read stock name
    stock_name = splitext(basename(csv_file))[0]
    # generate DataFrame
    df = pd.read_csv(csv_file)
    
    # handle ',' when exists
    for x in ['Price', 'High', 'Low', 'Open']:
        df[x] = df[x].replace(',','', regex=True).astype(float)
    
    # new column name
    n_day_avg_price = f'{stock_name}_moving_avg'
    
    # list daily price
    prices = list(df['Price'])
    dates = list(df['Date'])
    for d in df['Price']:
        # split by latest 7 days
        d_price = prices[:days]
        
        # set row
        df.loc[df['Date'] == dates[0], n_day_avg_price] = sum(d_price) / len(d_price)
        
        # move forward
        prices = prices[1:]
        dates = dates[1:]
        
    # set index
    df = df.set_index('Date')
    
    return df

    
for csv_file in glob('../dataset/stock/*.csv'):
    d = n_days_average_price(7, csv_file)
    
    stock_name = splitext(basename(csv_file))[0]
    print(stock_name)
    
    print(d)
    print('-' * 85)

Nasdaq_100
               Price      Open      High       Low     Vol. Change %  \
Date
09/23/2022  11311.24  11393.59  11400.86  11169.83  274.74M   -1.66%
09/22/2022  11501.65  11579.63  11616.40  11448.90  253.96M   -1.17%
09/21/2022  11637.79  11900.37  12062.29  11637.19  262.51M   -1.80%
09/20/2022  11851.54  11853.43  11951.10  11762.07  223.79M   -0.85%
09/19/2022  11953.28  11752.43  11956.15  11752.43  231.26M    0.77%
...              ...       ...       ...       ...      ...      ...
01/07/2022  15592.19  15774.13  15835.00  15526.80  212.83M   -1.10%
01/06/2022  15765.36  15675.22  15900.60  15608.57  229.89M   -0.04%
01/05/2022  15771.77  16190.55  16249.23  15763.84  257.52M   -3.12%
01/04/2022  16279.73  16513.87  16513.87  16151.91  241.07M   -1.35%
01/03/2022  16501.77  16395.51  16504.13  16306.64  199.76M    1.11%

            Nasdaq_100_moving_avg
Date
09/23/2022           11720.624286
09/22/2022           11838.218571
09/21/2022           11914.214286
09/20/2022           12071.632857
09/19/2022           12176.882857
...                           ...
01/07/2022           15982.164000
01/06/2022           16079.657500
01/05/2022           16184.423333
01/04/2022           16390.750000
01/03/2022           16501.770000

[183 rows x 7 columns]
-------------------------------------------------------------------------------------
AMZN
             Price    Open    High     Low    Vol. Change %  AMZN_moving_avg
Date
09/23/2022  113.78  115.79  115.81  112.07  64.78M   -3.01%       120.905714
09/22/2022  117.31  117.03  118.74  116.27  54.46M   -1.04%       123.027143
09/21/2022  118.54  122.48  123.70  118.51  57.52M   -2.99%       124.385714
09/20/2022  122.19  123.47  124.38  121.16  47.51M   -1.98%       126.944286
09/19/2022  124.66  122.08  124.70  121.83  46.66M    0.87%       128.527143
...            ...     ...     ...     ...     ...      ...              ...
01/07/2022  162.55  163.84  165.24  162.03  46.61M   -0.43%       165.616000
01/06/2022  163.25  163.45  164.80  161.94  51.96M   -0.68%       166.382500
01/05/2022  164.36  166.88  167.13  164.36  64.30M   -1.89%       167.426667
01/04/2022  167.52  170.44  171.40  166.35  70.73M   -1.69%       168.960000
01/03/2022  170.40  167.55  170.70  166.16  63.87M    2.21%       170.400000

[183 rows x 7 columns]
-------------------------------------------------------------------------------------
GOOGL
             Price    Open    High     Low    Vol. Change %  GOOGL_moving_avg
Date
09/23/2022   98.74   99.40   99.48   97.47  31.33M   -1.40%        101.154286
09/22/2022  100.14   98.89  101.20   98.88  33.94M    0.87%        102.048571
09/21/2022   99.28  101.61  102.82   99.28  30.81M   -1.84%        102.645714
09/20/2022  101.14  102.08  102.37  100.53  26.38M   -1.87%        104.300000
09/19/2022  103.07  101.79  103.32  101.59  22.87M    0.26%        105.658571
...            ...     ...     ...     ...     ...      ...               ...
01/07/2022  137.02  138.15  138.45  135.77  29.76M   -0.53%        140.388000
01/06/2022  137.75  137.00  139.94  136.56  37.35M   -0.02%        141.230000
01/05/2022  137.78  144.42  144.50  137.69  54.62M   -4.58%        142.390000
01/04/2022  144.40  145.40  146.48  143.72  28.40M   -0.41%        144.695000
01/03/2022  144.99  145.06  145.85  143.71  28.68M    0.10%        144.990000

[183 rows x 7 columns]
-------------------------------------------------------------------------------------
META
             Price    Open    High     Low    Vol. Change %  META_moving_avg
Date
09/23/2022  140.41  141.90  142.59  138.91  31.45M   -1.69%       145.042857
09/22/2022  142.82  141.71  144.53  140.90  34.01M    0.49%       146.622857
09/21/2022  142.12  146.39  149.60  142.00  38.01M   -2.72%       148.095714
09/20/2022  146.09  145.77  148.84  145.22  23.13M   -1.30%       151.930000
09/19/2022  148.02  145.24  148.58  145.10  22.17M    1.18%       155.224286
...            ...     ...     ...     ...     ...      ...              ...
01/07/2022  331.79  332.74  337.00  328.88  14.72M   -0.20%       332.698000
01/06/2022  332.46  322.82  339.17  322.72  27.96M    2.56%       332.925000
01/05/2022  324.17  333.02  335.76  323.84  20.56M   -3.67%       333.080000
01/04/2022  336.53  339.95  343.09  331.87  16.00M   -0.59%       337.535000
01/03/2022  338.54  338.30  341.08  337.19  14.56M    0.65%       338.540000

[183 rows x 7 columns]
-------------------------------------------------------------------------------------
AAPL
             Price    Open    High     Low     Vol. Change %  AAPL_moving_avg
Date
09/23/2022  150.43  150.86  151.40  148.56   95.58M   -1.51%       153.048571
09/22/2022  152.74  152.19  154.35  150.91   85.87M   -0.64%       153.762857
09/21/2022  153.72  157.45  158.67  153.72   99.78M   -2.03%       153.920000
09/20/2022  156.90  153.31  158.07  153.12  106.88M    1.57%       155.307143
09/19/2022  154.48  149.22  154.54  149.19   79.52M    2.51%       155.374286
...            ...     ...     ...     ...      ...      ...              ...
01/07/2022  172.17  172.89  174.14  171.03   86.71M    0.10%       176.160000
01/06/2022  172.00  172.70  175.30  171.64   96.90M   -1.67%       177.157500
01/05/2022  174.92  179.61  180.17  174.64   94.54M   -2.66%       178.876667
01/04/2022  179.70  182.63  182.94  179.12   99.31M   -1.27%       180.855000
01/03/2022  182.01  177.83  182.88  177.71  104.70M    2.50%       182.010000

[183 rows x 7 columns]
-------------------------------------------------------------------------------------

In [2]:
"""
C. Output a CSV file which should contain 5 columns: Date, AAPL_moving_avg, GOOGL_moving_avg, \
META_moving_avg, AMZN_moving_avg
"""
output_df = pd.DataFrame()

for csv_file in glob('../dataset/stock/*.csv'):
    d = n_days_average_price(7, csv_file)
    
    stock_name = splitext(basename(csv_file))[0]
    n_day_avg_price = f'{stock_name}_moving_avg'
    
    if 'Date' not in output_df:
        output_df['Date'] = d.index
        output_df = output_df.set_index('Date')
        
    if 'Nasdaq_100' not in stock_name:
        output_df[n_day_avg_price] = d[n_day_avg_price]

output_df.to_csv('../output/stock/moving_avg.csv')

output_df

,AMZN_moving_avg,GOOGL_moving_avg,META_moving_avg,AAPL_moving_avg
Date,,,,
09/23/2022,120.905714,101.154286,145.042857,153.048571
09/22/2022,123.027143,102.048571,146.622857,153.762857
09/21/2022,124.385714,102.645714,148.095714,153.920000
09/20/2022,126.944286,104.300000,151.930000,155.307143
09/19/2022,128.527143,105.658571,155.224286,155.374286
...,...,...,...,...
01/07/2022,165.616000,140.388000,332.698000,176.160000
01/06/2022,166.382500,141.230000,332.925000,177.157500
01/05/2022,167.426667,142.390000,333.080000,178.876667
01/04/2022,168.960000,144.695000,337.535000,180.855000
01/03/2022,170.400000,144.990000,338.540000,182.010000

In [3]:
"""
D. Output a CSV file which should contain 6 columns: Date, NDX_price, AAPL_price, GOOGL_price, 
META_price, AMZN_price
"""
output_df = pd.DataFrame()

for csv_file in glob('../dataset/stock/*.csv'):
    stock_name = splitext(basename(csv_file))[0]
    df = pd.read_csv(csv_file)
    
    for x in ['Price', 'High', 'Low', 'Open']:
        df[x] = df[x].replace(',','', regex=True).astype(float)
    
    if 'Date' not in output_df:
        output_df['Date'] = df['Date']
    
    col_name = f'{stock_name}_price'
    if 'Nasdaq_100'in stock_name:
        col_name = f'NDX_price'
    
    output_df[col_name] = df['Price']

output_df = output_df.set_index('Date')
output_df.to_csv('../output/stock/stock_prices.csv')

output_df

            NDX_price  AMZN_price  GOOGL_price  META_price  AAPL_price
Date
09/23/2022   11311.24      113.78        98.74      140.41      150.43
09/22/2022   11501.65      117.31       100.14      142.82      152.74
09/21/2022   11637.79      118.54        99.28      142.12      153.72
09/20/2022   11851.54      122.19       101.14      146.09      156.90
09/19/2022   11953.28      124.66       103.07      148.02      154.48
...               ...         ...          ...         ...         ...
01/07/2022   15592.19      162.55       137.02      331.79      172.17
01/06/2022   15765.36      163.25       137.75      332.46      172.00
01/05/2022   15771.77      164.36       137.78      324.17      174.92
01/04/2022   16279.73      167.52       144.40      336.53      179.70
01/03/2022   16501.77      170.40       144.99      338.54      182.01

[183 rows x 5 columns]